.navbar {
  padding: 27px 71px;
}
.searchField {
  width: 400px;
  height: 42px;
  border: none;
  font-weight: 500;
  border-radius: 21px;
  background: #f2f2f2;
  text-align: center;
}
.createAccountBtn {
  color: #2f6ce5;
  font-weight: 500;
}
.searchIcon {
  position: absolute;
  top: 14px;
  left: 18px;
}
.miniArrowBtn {
  color: black;
  margin-left: 7px;
}
.modalCloseBtn {
  position: absolute;
  top: -35px;
  right: -15px;
  border: none;
  background: transparent;
}
.modalHeader {
  background: #effff4;
  padding: 18px 0;
  border-radius: 10px;
}
.modalTitle {
  text-align: center;
}
.miniText {
  font-size: 11px;
  margin-top: 15px;
}
.eyeIcon {
  top: 18px;
  right: 12px;
}
