.locationField {
  border: none;
  border-bottom: 2px solid #b8b8b8;
  padding: 11px 50px 11px 30px;
  font-size: 18px;
  font-weight: 500;
}
.locationIcon {
  font-size: 20px;
  position: absolute;
  top: 55px;
}
.locationField {
  outline: none;
}
.locationField::placeholder {
  font-size: 18px;
  font-weight: 500;
}
.pencilIcon,
.xMarkIcon {
  font-size: 20px;
  position: absolute;
  top: 60px;
  right: 5px;
}
.note {
  margin-top: 32px;
}
.articleCardsHeader h5 {
  font-size: 22px;
  font-weight: 600;
}
.articleCardsHeader p {
  font-size: 22px;
  font-weight: 600;
}
.categoryName {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 500;
}
.cardFooter {
  font-size: 18px;
  font-weight: 600;
}
.shareBtn {
  margin-left: 40px;
  padding: 8px 15px;
  background-color: #edeef0;
  border-radius: 2px;
}
.articleCardDescription {
  font-size: 19px;
  margin-bottom: 32px;
}
.articleCardTags {
  font-size: 18px;
  margin-bottom: 32px;
  margin-top: -18px;
  font-weight: 600;
}
.date {
  margin-right: 48px;
}
.categoryNameMobile {
  font-size: 14px;
  font-weight: 500;
}
.mobileArticleCardsHeader {
  font-weight: 600;
  font-size: 14px;
}
.mobileArticleCardDescription {
  font-size: 14px;
}
.mobileArticleCardTags {
  font-size: 12px;
}
.postBtn {
  width: 54px;
  height: 54px;
  border-radius: 50%;
  background: linear-gradient(180deg, #ff5c5c 0%, #f0568a 100%);
  position: fixed;
  bottom: 18px;
  right: 18px;
  z-index: 100;
}
.recommendedGroups {
  margin-top: 54px;
}
.recommendedGroups h5 {
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 0.1em;
}
