.locationField {
  border: none;
  border-bottom: 2px solid #b8b8b8;
  padding: 11px 50px 11px 30px;
  font-size: 18px;
  font-weight: 500;
}
.locationIcon {
  font-size: 20px;
  position: absolute;
  top: 55px;
}
.locationField {
  outline: none;
}
.locationField::placeholder {
  font-size: 18px;
  font-weight: 500;
}
.pencilIcon {
  font-size: 20px;
  position: absolute;
  top: 60px;
  right: 5px;
}
.note {
  margin-top: 32px;
}
.articleCardsHeader h5 {
  font-size: 22px;
  font-weight: 600;
}
.articleCardsHeader p {
  font-size: 22px;
  font-weight: 600;
}
.categoryName {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 500;
}
.cardFooter {
  font-size: 18px;
  font-weight: 600;
}
.shareBtn {
  margin-left: 40px;
  padding: 8px 15px;
  background-color: #edeef0;
  border-radius: 2px;
}
