.banner {
  width: 100%;
  position: relative;
}
.banner::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: inline-block;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.45) 0%,
    rgba(0, 0, 0, 0.6) 100%
  );
}
.bannerText {
  color: white;
  position: absolute;
  left: 200px;
  top: 500px;
}
.bannerText h4 {
  font-size: 36px;
  font-weight: 700;
}
.bannerText p {
  font-size: 18px;
  font-weight: 400;
}
.bannerTop {
  position: absolute;
  top: 20px;
  left: 20px;
}
.joinGroupBtn {
  position: absolute;
  right: -318px;
  border: 1px solid white;
}
.bannerTextMobile {
  color: white;
  position: absolute;
  top: 164px;
  left: 16px;
}
.bannerTextMobile h4 {
  font-size: 17px;
  font-weight: 700;
}
.bannerTextMobile p {
  font-size: 12px;
}
.mobileModalCloseBtn {
  margin-top: -22px;
}
.modalDailogue {
  height: 75% !important;
}
